h1 {
    font-weight: bold;
}
hr {
    margin: 30px 0;
}

.header_bg {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
.main_container {
    margin: 0 auto;
    padding: 40px 20px;
}

.movies_searchbar {
    margin-bottom: 40px;
}

.list_movies h2 {
    font-size: 18px;
}
.list_movies h2 span {
    font-size: 14px;
}
.list_movie_row {
    margin-bottom: 20px;
}
.list_movie_poster {
    max-width: 80px;
}

.back_to_home {
    margin: -4px 0;
    display: block;
    font-size: 12px;
    text-decoration: none;
}

.video_responsive {
    overflow: hidden;
    padding-top: 56.25%;  /* 16:9 Aspect Ratio */
    position: relative;
    height: 0;
}

.video_responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.single_movie_poster {
    box-shadow: 0 13px 18px -8px #00000047;
}
.single_movie_list a {
    text-decoration: none;
    font-size: 14px;
}
.p-3 {
    padding: 0 3rem !important;
}